In [4]:
import pandas as pd

dataset = pd.read_csv("./Global YouTube Statistics.csv", encoding="iso-8859-1")

In [5]:
print(dataset)

     rank                    Youtuber  subscribers   video views  \
0       1                    T-Series    245000000  2.280000e+11
1       2              YouTube Movies    170000000  0.000000e+00
2       3                     MrBeast    166000000  2.836884e+10
3       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4       5                   SET India    159000000  1.480000e+11
..    ...                         ...          ...           ...
990   991               Natan por A誰多     12300000  9.029610e+09
991   992    Free Fire India Official     12300000  1.674410e+09
992   993                       Panda     12300000  2.214684e+09
993   994                 RobTopGames     12300000  3.741235e+08
994   995                Make Joke Of     12300000  2.129774e+09

             category                       Title  uploads         Country  \
0               Music                    T-Series    20082           India
1    Film & Animation               youtubemovies        1   United States
2       Entertainment                     MrBeast      741   United States
3           Education  Cocomelon - Nursery Rhymes      966   United States
4               Shows                   SET India   116536           India
..                ...                         ...      ...             ...
990            Sports               Natan por A誰多     1200          Brazil
991    People & Blogs    Free Fire India Official     1500           India
992               NaN                 HybridPanda     2452  United Kingdom
993            Gaming                 RobTopGames       39          Sweden
994            Comedy                Make Joke Of       62           India

    Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0             IN          Music  ...                     2000000.0
1             US          Games  ...                           NaN
2             US  Entertainment  ...                     8000000.0
3             US      Education  ...                     1000000.0
4             IN  Entertainment  ...                     1000000.0
..           ...            ...  ...                           ...
990           BR  Entertainment  ...                      700000.0
991           IN          Games  ...                      300000.0
992           GB          Games  ...                        1000.0
993           SE          Games  ...                      100000.0
994           IN         Comedy  ...                      100000.0

     created_year  created_month  created_date  \
0          2006.0            Mar          13.0
1          2006.0            Mar           5.0
2          2012.0            Feb          20.0
3          2006.0            Sep           1.0
4          2006.0            Sep          20.0
..            ...            ...           ...
990        2017.0            Feb          12.0
991        2018.0            Sep          14.0
992        2006.0            Sep          11.0
993        2012.0            May           9.0
994        2017.0            Aug           1.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                       28.1  1.366418e+09               5.36
1                                       88.2  3.282395e+08              14.70
2                                       88.2  3.282395e+08              14.70
3                                       88.2  3.282395e+08              14.70
4                                       28.1  1.366418e+09               5.36
..                                       ...           ...                ...
990                                     51.3  2.125594e+08              12.08
991                                     28.1  1.366418e+09               5.36
992                                     60.0  6.683440e+07               3.85
993                                     67.0  1.028545e+07               6.48
994                                     28.1  1.366418e+09               5.36

     Urban_population   Latitude  Longitude
0         471031528.0  20.593684  78.962880
1         270663028.0  37.090240 -95.712891
2         270663028.0  37.090240 -95.712891
3         270663028.0  37.090240 -95.712891
4         471031528.0  20.593684  78.962880
..                ...        ...        ...
990       183241641.0 -14.235004 -51.925280
991       471031528.0  20.593684  78.962880
992        55908316.0  55.378051  -3.435973
993         9021165.0  60.128161  18.643501
994       471031528.0  20.593684  78.962880

[995 rows x 28 columns]